body{
	margin: 0;
}

.text-center{
	text-align: center;
}

.bg-white{
	background-color: #fff;
}

.bg-light{
	background-color: #e2edff;
}

.container{
	margin-left: 100px;
	margin-right: 100px;
}

.navbar{
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	width: 100%;
}

.navbar h3{
	text-align: center;
	color: white;
	padding: 16px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 100px;
}

.navbar ul{
	list-style-type: none;
	margin-right: 100px;	
}

.navbar li{
	float: left;
}

.navbar li a{
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.navbar li a:hover{
	background-color: #111111;
}

.img-center img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.section{
	padding-top: 70px;
	margin-bottom: -4px;
}

.section h1{
	font-size: 50px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.section h2{
	font-size: 25px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.box{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box p{
	font-size: 20px;
}

.flex{
	display: flex;
	justify-content: space-around;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 76%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer{
	background-color: #333333;
	padding: 10px;
}

footer p{
	text-align: center;
	color: #fff;
}
