<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tugas 12</title>
	<style type="text/css">
		form {
			width: 300px;
			background-color: lightblue;
			padding: 10px;
			border-radius: 10px;
		}
		form label {
			margin-left: 10px;
		}
		form input {
			margin-left: 10px;
		}
		form textarea{
			margin-left: 10px;
		}
		form button{
			margin-left: 10px;
		}
		table {
		  margin-top: 10px;
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}
	</style>
</head>
<body>
<div id="app">
	<form @submit.prevent="handleSubmit">
		<p v-if="errors.length">
				<b>Please correct the following errors: </b>
				<ul>
					<li v-for="error in errors">{{error}}</li>
				</ul>
			</p>
		<label>Name :</label>
		<br>
		<input type="text" :disabled="status === 'upload'" ref="name" name="name" v-model="name">
		<br>
		<label>Address :</label>
		<br>
		<textarea name="address" :disabled="status === 'upload'" ref="address" v-model="address"></textarea>
		<br>
		<label>No Hp :</label>
		<br>
		<input type="text" :disabled="status === 'upload'" ref="no_hp" name="no_hp" v-model="no_hp">
		<br>
		<div v-if="status === 'submit'" style="margin-top: 5px;">
			<input type="submit" value="Submit">
		</div>
		<div v-if="status === 'update'" style="margin-top: 5px;">
			<input type="button" value="Update" @click="handleUpdate(currentId)">
			<input type="button" value="Cancel" @click="clearForm()">
		</div>
		<div v-if="status === 'upload'">
			<input type="file" name="photo_profile" ref="photo_profile">
			<br>
			<input type="button" value="Upload" @click="handleUpload(idPhoto)">
			<input type="button" value="Cancel" @click="clearForm()">
		</div>
	</form>

	<table>
		<thead>
			<tr>
				<th>Photo</th>
				<th>Name</th>
				<th>Address</th>
				<th>No Hp</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="member in members">
				<td><img width="100" :src="member.photo_profile ? photoDomain+member.photo_profile : 'https://mm.widyatama.ac.id/wp-content/uploads/2020/08/dummy-profile-pic-male1.jpg'"></td>
				<td >{{member.name}}</td>
				<td >{{member.address}}</td>
				<td >{{member.no_hp}}</td>
				<td>
					<button @click="handleEdit(member)">Edit</button>
					<button @click="handleDelete(member.id)">Hapus</button>
					<button @click="handlePhoto(member)">Upload Foto</button>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	var vm = new Vue({
		el:'#app',
		data:{
			name:'',
			address:'',
			no_hp:'',
			members:[],
			photoDomain:'http://demo-api-vue.sanbercloud.com',
			errors: [],
			status: 'submit',
			currentId: null,
			idPhoto: null
		},
		methods:{
			getMembers(){
				axios.get(`http://demo-api-vue.sanbercloud.com/api/member`)
				.then((response)=>{
					this.members= response.data.members
				})
				.catch((error)=>{
					console.log(error)
				})
			},

			clearForm(){
				this.name = ''
				this.address = ''
				this.no_hp =''
				this.status = 'submit'
				this.currentId = null
				this.idPhoto = null
			},

			validationForm(){
				if ( this.name.length < 5 ) {
					this.errors.push('Title minimal 5 karakter')
					this.refs.name.focus()
				}
				if (this.address.length >100 ) {
					this.errors.push('Address tidak boleh lebih dari 100 karakter')
					this.refs.address.focus()
				}
				if ( this.no_hp.length < 11 ) {
					this.errors.push('No Hp tidak boleh kurang dari 11')
					this.refs.no_hp.focus()
				}
			},

			handleSubmit(){
				this.validationForm()

				if (this.errors.length === 0) {
					axios({
						method: "post",
						url: `http://demo-api-vue.sanbercloud.com/api/member`,
						data: {
							name: this.name,
							address: this.address,
							no_hp: this.no_hp
						}
					})
					.then((response)=>{
						this.clearForm()
						this.getMembers()
						alert(response.data.message)
					})
					.catch((error)=>{
						console.log(error)
					})
				}
				
			},	

			handleDelete(id){
				axios({
					method:'post',
					url:`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
					params: { _method : 'DELETE'}
				})
				.then((response)=>{
					this.getMembers()
					alert(response.data.message)
				})
				.catch((error)=>{
					console.log(error)
				})
			},

			handleEdit(member){
				this.name = member.name
				this.address = member.address
				this.no_hp = member.no_hp
				this.status = 'update'
				this.currentId = member.id				 
			},

			handleUpdate(id){
				this.validationForm()

				if (this.errors.length === 0) {
					axios({
						method: 'post',
						url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
						params: { _method:'PUT'},
						data:{
							name: this.name,
							address: this.address,
							no_hp: this.no_hp
						}
					})
					.then((response)=>{
						this.clearForm()
						this.getMembers()
						alert(response.data.message)
					})
					.catch((error)=>{
						console.log(error)
					})
				}
			}, 

			handlePhoto(member){
				this.name = member.name
				this.address = member.address
				this.no_hp = member.no_hp
				this.status = 'upload'
				this.idPhoto = member.id
			},

			handleUpload(id){
				let file = this.$refs.photo_profile.files[0]

				let formData = new FormData()
				formData.append('photo_profile', file)

				axios({
					method: 'post',
					url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
					data: formData})
					.then((response)=>{
						this.clearForm()
						this.getMembers()
						alert(response.data.message)
					})
					.catch((error)=>{
						console.log(error)
					})
			}

		},
		created(){
			this.getMembers()
		}
	})
</script>
</body>
</html>