<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz 2</title>
</head>
<body>
<div id="app">
	<form @submit.prevent="handleSubmit">
		<input type="text" name="name" v-model:value="name">
		<button>
			<div v-if="currentIndex === -1">Add</div>
			<div v-if="currentIndex !== -1">Update</div> 
		</button>
	</form>

	<ul>
		<li v-for="(user, index) in users">
		{{user.name}}
		|| <button @click="handleEdit(index)">edit</button>
		|| <button @click="handleDelete(index)">delete</button>
		</li>
	</ul>
	
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
	var vm = new Vue({
		el:"#app",
		data:{
			name:'',
			currentIndex: -1,
			dataBaru:[],
			users:[
			{
				'name' : 'Muhammad Iqbal Mubarok',
			},
			{
				'name' : 'Ruby Purwanti',
			},
			{
				'name' : 'Faqih Muhammad',
			},
			]
		},
		methods:{
			handleSubmit(){
				this.dataBaru = {name:this.name}
				if (this.currentIndex !== -1) {
					this.users[this.currentIndex] = this.dataBaru
				} else{
					this.users.push(this.dataBaru)
				}
				this.name = ''
				this.currentIndex = -1
			},
			handleEdit(index){
				this.currentIndex = index 
				this.name = this.users[index].name
			},
			handleDelete(index){
				if (confirm("Apakah anda yakin akan menghapus?")) {
					this.currentIndex = index
					this.users.splice(this.currentIndex, 1)
					this.currentIndex = -1
				}
			}
		}
	})
</script>
</body>
</html>