<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vuex</title>
	<style type="text/css">
		form {
			width: 300px;
			background-color: lightblue;
			padding: 10px;
			border-radius: 10px;
		}
		form label {
			margin-left: 10px;
		}
		form input {
			margin-left: 10px;
		}
		form textarea{
			margin-left: 10px;
		}
		form button{
			margin-left: 10px;
		}
		table {
		  margin-top: 10px;
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}
	</style>
</head>
<body>
<div id="app">
	<h1>Vuex</h1>
	<form @submit.prevent="handleSubmit">
		<p v-if="$store.state.errors.length">
			<b>Please correct the following errors: </b>
			<ul>
				<li v-for="error in $store.state.errors">{{error}}</li>
			</ul>
		</p>
		<label>Name :</label>
		<br>
		<input type="text" :disabled="$store.state.status === 'upload'" ref="name" name="name" v-model="$store.state.name">
		<br>
		<label>Address :</label>
		<br>
		<textarea name="address" :disabled="$store.state.status === 'upload'" ref="address" v-model="$store.state.address"></textarea>
		<br>
		<label>No Hp :</label>
		<br>
		<input type="text" :disabled="$store.state.status === 'upload'" ref="no_hp" name="no_hp" v-model="$store.state.no_hp">
		<br>
		<div v-if="$store.state.status === 'submit'" style="margin-top: 5px;">
			<input type="submit" value="Submit">
		</div>
		<div v-if="$store.state.status === 'update'" style="margin-top: 5px;">
			<input type="button" value="Update" @click="handleUpdate($store.state.currentId)">
			<input type="button" value="Cancel" @click="clearForm()">
		</div>
		<div v-if="$store.state.status === 'upload'">
			<input type="file" name="photo_profile" ref="photo_profile" style="margin-bottom:5px; margin-top:5px">
			<br>
			<input type="button" value="Upload" @click="handleUpload($store.state.idPhoto)">
			<input type="button" value="Cancel" @click="clearForm()">
		</div>
	</form>
	
	<members-component></members-component>
	
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
<script type="module">
	import {MembersComponent} from './MembersComponent.js'

	let store = new Vuex.Store({
		state:{
			members:[],
			name:'',
			address:'',
			no_hp:'',
			errors: [],
			status: 'submit',
			currentId: null,
			idPhoto: null
		}, 
		mutations:{
			getMembers(state, data){
				state.members = data
			},

			clearForm(state){
				state.name = ''
				state.address = ''
				state.no_hp =''
				state.status = 'submit'
				state.currentId = null
				state.idPhoto = null
			},

			validationForm(state){
				state.errors = []

				if ( state.name.length < 5 ) {
					state.errors.push('Title minimal 5 karakter')
				}
				if (state.address.length >100 ) {
					state.errors.push('Address tidak boleh lebih dari 100 karakter')
				}
				if ( state.no_hp.length < 11 ) {
					state.errors.push('No Hp tidak boleh kurang dari 11')
				}
			},

			handleEdit(state, member){
				state.name = member.name
				state.address = member.address
				state.no_hp = member.no_hp
				state.status = 'update'
				state.currentId = member.id				 
			},

			handlePhoto(state, member){
				state.name = member.name
				state.address = member.address
				state.no_hp = member.no_hp
				state.status = 'upload'
				state.idPhoto = member.id
			},
		},

		actions:{
			getMembers(context){
				axios.get(`http://demo-api-vue.sanbercloud.com/api/member`)
				.then((response)=>{
					context.commit('getMembers', response.data.members)
				})
				.catch((error)=>{
					console.log(error)
				})

			},

			handleSubmit({dispatch, commit, state}){
				commit('validationForm')

				if (state.errors.length === 0) {

					let formData = new FormData()
					formData.append('name', state.name)
					formData.append('address', state.address)
					formData.append('no_hp', state.no_hp)

					axios({
						method: "post",
						url: `http://demo-api-vue.sanbercloud.com/api/member`,
						data: formData
					})
					.then((response)=>{
						commit('clearForm')
						dispatch('getMembers')
						alert(response.data.message)
					})
					.catch((error)=>{
						console.log(error)
					})
				}
				
			},

			handleDelete({dispatch, commit, state}, id){
				axios({
					method:'post',
					url:`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
					params: { _method : 'DELETE'}
				})
				.then((response)=>{
					dispatch('getMembers')
					alert(response.data.message)
				})
				.catch((error)=>{
					console.log(error)
				})
			},

			handleUpdate({dispatch, commit, state}, id){
				commit('validationForm')

				if (state.errors.length === 0) {
					axios({
						method: 'post',
						url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
						params: { _method:'PUT'},
						data:{
							name: state.name,
							address: state.address,
							no_hp: state.no_hp
						}
					})
					.then((response)=>{
						commit('clearForm')
						dispatch('getMembers')
						alert(response.data.message)
					})
					.catch((error)=>{
						console.log(error)
					})
				}
			},

			handleUpload({dispatch, commit, state},{file, id}){

				let formData = new FormData()
				formData.append('photo_profile', file)

				axios({
					method: 'post',
					url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
					data: formData})
					.then((response)=>{
						commit('clearForm')
						dispatch('getMembers')
						alert(response.data.message)
					})
					.catch((error)=>{
						console.log(error)
					})
			} 	

		}
	})

	let vm = new Vue({
		el:'#app',
		components:{
			'members-component' : MembersComponent
		},
		store,
		methods:{
			handleSubmit(){
				this.$store.dispatch('handleSubmit')
			},

			clearForm(){
				this.$store.commit('clearForm')
			}, 

			handleUpdate(id){
				this.$store.dispatch('handleUpdate', id)
				this.$store.dispatch('getMembers')
			},

			handleUpload(id){
				let file = this.$refs.photo_profile.files[0]
				this.$store.dispatch('handleUpload',{file, id})
			}
		}
	})
</script>
</body>
</html>