<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Soal 1</title>
</head>
<body>

	<div id="app">
	  <form>
		<input type="text" name="book" placeholder="masukkan kata kunci" v-model="keyWord"/>
		<br>
		<ul>
			<li v-for="book in handleSearch()">
				{{book}}
			</li>
		</ul>
	  </form>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data:{
				keyWord:'',
				books:[
				'Kalkulus Dasar',
				'Fisika Dasar',
				'Aljabar Linier Elementer',
				'Aljabar Abstrak',
				'Algoritma Pemrograman'
				]
			},
			methods:{
				handleSearch(event){
					if (this.keyWord) {
						let filter = this.books.filter(el=>el.toLowerCase().indexOf(this.keyWord.toLowerCase()) !== -1)
						return filter
					}else{
						return this.books
					}
				}
			}

		})
	</script>
</body>
</html>