<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Soal 2</title>
</head>
<body>
	<div id="app">
		<div v-for="(comment,index) in comments" style="margin-top: 5px;">
			<button @click="handleJumlah(index, comment.score)">+</button>
			<p style="margin: 0px">{{comment.title}} || {{comment.date}} || Score: {{comment.score}}</p>
			<button @click="handleMinus(index, comment.score)">-</button>
		</div>
		<br>
		<form>		
			<textarea v-model="title" placeholder="add multiple lines" rows="3" cols="50" @keydown="handleChange"></textarea>	
		</form>	
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:'#app',
			data:{
				title:'',
				score: 0,
				date:'',
				comment:[],
				jumlahClick: 0,
				minusClick:0,
				comments:[
				{title: "komentar 1 komentar 1 komentar 1", date: "29-07-2020", score: 1},
				{title: "komentar 2 komentar 2 komentar 2", date: "28-07-2020", score: 6},
				{title: "komentar 3 komentar 3 komentar 3", date: "27-07-2020", score: 5},
				]
			},
			methods:{
				handleChange(event){
					if(event.which === 13){
						let tanggal = new Date()
						// console.log(tanggal.getDate(), tanggal.getMonth()+1, tanggal.getFullYear())
						let month = tanggal.getMonth()+1
						this.date = tanggal.getDate()+"-"+"0"+month+"-"+tanggal.getFullYear()
						this.comment = {title:this.title, date:this.date, score:0}
						this.comments.push(this.comment)
						this.title = "" 
					}
				},
				handleJumlah(index, jumlah){
					this.score = jumlah
					this.jumlahClick++
					if (this.minusClick === 1 && this.jumlahClick === 1){
						this.score = this.score + 2
						this.comments[index].score = this.score
						this.minusClick = 0 
					}else if(this.jumlahClick === 1) {
						this.score = this.score + 1
						this.comments[index].score = this.score
					}else if (this.jumlahClick === 2) {
						this.score = this.score - 1
						this.comments[index].score = this.score
						this.jumlahClick = 0
					}
				},
				handleMinus(index, jumlah){
					this.score = jumlah
					this.minusClick++
					if (this.jumlahClick === 1 && this.minusClick === 1) {
						this.score = this.score - 2
						this.comments[index].score = this.score
						this.jumlahClick = 0
					}else if (this.minusClick === 1) {
						this.score = this.score - 1
						this.comments[index].score = this.score
					} else if(this.minusClick === 2){
						this.score = this.score + 1
						this.comments[index].score = this.score
						this.minusClick = 0
					}
				}
			}
		})
	</script>
</body>
</html>